.navbar {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-home {
  width: 2rem;
}

.navbar-tab {
  display: flex;
  cursor: pointer;
  font-size: medium;
  width: 70px;
  justify-content: center;
}

.navbar-tab:hover {
  background: black
}

.navbar-tab-selected {
  background: #39A2DB;
}

.navbar-tab-disabled {
  color: rgb(0, 0, 0);
  cursor: default;
}

.navbar-tab-panel {
  display: none;
}

.navbar-tab-panel-selected {
  display: block;
  font-size: 2rem;
  text-align: center;
}