.home-card-heading {
    color: white;
    margin-bottom: 0px;
}

.home-poster-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
}

.home-poster-row-item {
    width: 230px;
    height: 130px;
    display: flex;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
  }