@media only screen and (max-width: 600px) {
  .app {
    margin-left: 20px;
    margin-right: 20px;
  } 
}

@media only screen and (min-width: 601px) and (max-width: 999px) {
  .app {
    margin-left: 150px;
    margin-right: 150px;
  } 
}

@media only screen and (min-width: 1000px) and (max-width: 1199px)  {
  .app {
    margin-left: 180px;
    margin-right: 180px;
  } 
}

@media only screen and (min-width: 1200px) {
  .app {
    margin-left: 300px;
    margin-right: 300px;
  } 
}

.app {
  display: 'flex';
  flex-direction: 'column';
  min-height: '100vh';
  overflow-x: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
}

header{
  color: aliceblue;
  padding: '1rem';
}

main{
  flex: 1;
  padding: '1rem';
}

footer{
    color: aliceblue;
    padding: '1rem';
    text-align: 'center';
}
