@media only screen and (max-width: 578px) {
  .app {
    max-width: 578px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .app {
    max-width: 1200px;
  }
}

.app {
  overflow: scroll;
  margin-top: 85px;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #060c1b;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  padding: '1rem';
}

footer {
  color: aliceblue;
  padding: '1rem';
  text-align: 'center';
}