.admin-panel-container {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.admin-panel-center-container {
  background-color: rgb(10, 10, 10);
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 10px;
}

.span-img {
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.admin-panel-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 700px;
  min-width: 500px;
}

.admin-panel-form-input-container {
  width: 100%;
  margin-top: 12px;
}

.admin-panel-form input {
  padding: 10px;
  font-size: 16px;
  margin-top: 12px;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.admin-panel-form button {
  margin: 20px;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #f97e2b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-panel-options {
  margin-top: 10px;
}

.admin-panel-options a {
  margin: 0 10px;
  color: #f97e2b;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
}

.admin-panel-options span {
  font-size: small;
  margin-top: 12px;
}

.admin-panel-span {
  color: rgb(255, 255, 255);
}

.admin-panel-span-small {
  color: aliceblue;
  font-size: smaller;
  margin-top: 6px;
  margin-left: 10px;
}

label {
  color: rgb(255, 255, 255);
  margin-top: 12px;
}

textarea {
  width: 380px;
  height: 120px;
  padding: 12px;
  margin-top: 12px;
  font-size: 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

